---
import CoinIcon from '../icons/Coin.astro';

interface BulletPoint {
  label: string;
  isNegative?: boolean;
}

interface Props {
  name: string
  coins: number
  price: string
  href: string
  crossedPrice?: string
}

const { name, coins, price, crossedPrice, href } = Astro.props;
---

<div class="rounded-lg border bg-card text-card-foreground shadow-sm w-[90vw] max-w-md bg-white flex flex-col justify-between p-3 md:p-6 gap-3 md:gap-6" data-v0-t="card">
    <h3 class="text-2xl">{name}</h3>
    <p>Get started with our {name} plan</p>
  <div class="flex-grow">
    <div class="flex items-center justify-center space-x-2 text-4xl font-bold">
      <CoinIcon class="h-8 w-8 fill-yellow-400 stroke-yellow-600" />
      <span>{coins}</span>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div class="flex gap-2 items-center">
      {crossedPrice && <span class="text-xl line-through">{crossedPrice}</span>}
      <span class="text-2xl font-semibold">{price}</span>
    </div>
    <a href={href} class="bg-yellow-700 hover:bg-yellow-800 text-white font-bold py-2 px-3 text-sm rounded transition-colors focus-within:ring-2">Choose Plan</a>
  </div>
</div>
